ul{
    list-style-type: none;
    margin: 0;
    left: 0;
    padding: 10px;
    overflow: hidden;
    position: relative;
    
}
li{
    float: left;
}
li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: cursive;
    font-size: larger;

}
li a:hover{
    background-color:red;
}